<div class="flex items-center justify-center w-full h-full">
    <div class="grid grid-cols-3 gap-4">
        {{ nav:main include_home="true" }}
            <div class="">
                <div class="">
                    <span class="font-bold">Title:</span>
                    <span>{{ title }}</span>
                </div>
                <div class="">
                    <span class="font-bold">Nav Icon:</span>
                    <span>{{ nav_icon }}</span>
                </div>
            </div>
        {{ /nav:main }}
    </div>
</div>
